<div class="container">
    <p style="color:white">
        2.2. Алгоритми фракталів
        1. Основна послідовність обчислювальних кроків для малювання фракталу Вічека виглядає наступним чином:
        1.	Введення:
        •	Ввести кількість ітерацій.
        2.	Початковий крок:
        •	Зобразити початкову фігуру.
        3.	Ітерації:
        •  Для кожної точки на екрані виконати наступні кроки:
        •  Задати комплексне число з координатами точки.
        •  Запустити ітеративний процес для цього комплексного числа зазначену кількість разів.
        4.	Повторення ітерацій:
        •	У кожній ітерації виконати наступні кроки:
        •	Обчислити нове значення комплексного числа на основі попереднього значення та використовуючи унікальні правила Вічека.
        •	Перевірити умову зупинки для ітераційного процесу (наприклад, досягнення максимальної кількості ітерацій або виход за межі заданої області)..
        5.	Завершення:
        •	Зобразити остаточний результат після виконання всіх ітерацій.
        2. Основна послідовність обчислювальних кроків для малювання фракталу Ньютона виглядає наступним чином:
        1.	Введення:
        •	Ввести значення с для функції, за якою буде рахуватися фрактал.

        2.	Ініціалізація комплексних чисел:
        •	Визначити межі для частин комплексної площини (реальна та уявна).

        3.	Генерація фракталу:
        •	Для кожного пікселя на екрані виконати наступні кроки:
        •	Перетворити координати пікселя в комплексне число z.
        •	Запустити ітеративний процес для цього комплексного числа зазначену кількість разів.
        •	Перевірити умову виходу (зазвичай, абсолютне значення комплексного числа не перевищує певного порогу) та лічильник ітерацій.
        •	Визначити, чи точка належить фракталу в залежності від виконання чи невиконання умови виходу.
        4.	Відображення результату:
        •	Кожній точці комплексної площини присвоїти колір в залежності від кількості ітерацій, що були виконані до виходу з умови або до досягнення максимальної кількості ітерацій.
        •	Вивести або зберегти зображення фракталу.
        5.	Завершення:
        •	Завершити процес генерації фракталу.

        2.3. Анотація кольорових моделей
        Модель CMYK (Cyan, Magenta, Yellow, Key/Black):
        Зміст: Модель CMYK використовує чотири основні кольори - бірюзовий (Cyan), пурпурний (Magenta), жовтий (Yellow), та чорний (Key/Black). Вона застосовується у поліграфії та дизайні для представлення кольорів, де кожен колір представляється як комбінація відсотків чотирьох основних кольорів.
        Переваги:
        1.	Використання в поліграфії: Відповідає процесам друку, де використовуються чорнила різної інтенсивності.
        2.	Контроль за тоном та насиченістю: Дозволяє точний контроль за тоном, насиченістю та відтінками кольорів.
        Недоліки:
        1.	Обмеженість кольорового простору: Не може точно представити всі кольори, особливо яскраві та насичені.
        2.	Втрата кольору при перетворенні: При перетворенні між різними кольоровими просторами кольори можуть змінюватися.
        Модель HSL (Hue, Saturation, Lightness):
        Зміст: Модель HSV визначає кольори за трьома параметрами: відтінок (Hue), насиченість (Saturation), та світліть  (Lightness). Вона подавально використовується в графічних редакторах та комп'ютерній графіці для зручного вибору та роботи з кольорами.
        Переваги:
        1.	Сприйняття кольору людиною: Ця модель побудована на основі суб'єктивного сприйняття кольору людиною і добре узгоджується з нею.
        2.	Добре підходить для змін світлоти та насиченості окремо: модель HSL надає більше контролю над насиченістю та світлотою окремо для кожного кольору, що робить її більш гнучкою для налаштувань.

        Недоліки:
        1. Сприйняття кольору: Хоча вона виглядає більш природною для багатьох користувачів, все одно базується на суб'єктивному сприйнятті кольору.
        2. Можливі проблеми з вибором кольору на границях колірного кола: Зміна відтінку вздовж границь колірного кола може призводити до великих різниць у візуальному вигляді, що може бути важко передбачити.
    </p>
</div>
<div class="bg-photo"></div>