<div class="fractals-page__container-header">
    <h1 class="fractals-page__main-text1">Fractals</h1>
</div>
<div class="container">
    <div class="fractals-page__cart-container">
        <a asp-area="" asp-controller="Fractals" asp-action="Vicek" class="fractals-page__cart">
        <img src="../img/ViceksFractalPicture.png" alt="Fractals pic.">
            <div class="fractals-page__cart-text">
            <p>Viček's fractal</p>
        </div>
        </a>
        <a asp-area="" asp-controller="Fractals" asp-action="Newton" class="fractals-page__cart">
            <img src="../img/NewtonsFractalPicture.png" alt="Fractals pic.">
            <div class="fractals-page__cart-text">
                <p>Newton's fractal</p>
            </div>
        </a>
    </div>
</div>
<div class="bg-photo"></div>