@model ComputerGraphicsProject.Models.NewtonFractalModel;

<div class="fractal-container">
    <div class="fractal-pages__img-container">
        <img class="fractal-pages__img" id="fractalImage" src="@Url.Action("GetNewtonFractalImage")" width="480" height="480" />
    </div>
    <a class="fractal-pages__dwnld-buttn-container fractal-pages__dwnld-buttn" href="@Url.Action("GetNewtonFractalImage", "Fractals")" download="newton.png"></a>
</div>


<form asp-action="Newton">
    <div class="fractal-pages__form-data">
        <label asp-for="RealC" class="fractal-pages__data-text">f(z) = z^4 + (</label>
        <input asp-for="RealC" class="newton-page__form-data__real-img" />
        <label asp-for="RealC" class="fractal-pages__data-text">,</label>
        <input asp-for="ImaginaryC" class="newton-page__form-data__real-img" />
        <label asp-for="RealC" class="fractal-pages__data-text">)</label>
    </div>
    <div class="fractal-pages__form-submit">
        <input class="fractal-pages__generate-button" type="submit" value="" />
    </div>
    <div class="fractal-pages__form-valid">
        <div asp-validation-summary="All" class="text-danger"></div>
        <span asp-validation-for="RealC" class="text-danger"></span>
        <span asp-validation-for="ImaginaryC" class="text-danger"></span>
    </div>
</form>
<div class="bg-photo"></div>

