@model ComputerGraphicsProject.Models.NewtonFractalModel;
<img id="fractalImage" src="@Url.Action("GetNewtonFractalImage")" width="500" height="500" />
<form asp-action="Newton">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RealC" class="control-label">Real C</label>
        <input asp-for="RealC" class="form-control" />
        <span asp-validation-for="RealC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImaginaryC" class="control-label">Imaginary C</label>
        <input asp-for="ImaginaryC" class="form-control" />
        <span asp-validation-for="ImaginaryC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<img id="fractalImage" src="" style="display:none;" />

