@model ComputerGraphicsProject.Models.VicsekFractalModel;

<img id="fractalImage" src="@Url.Action("GetVicsecFractalImage")" width="500" height="500" />
<form asp-action="Vicek">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="SideLength" class="control-label">Length</label>
        <input asp-for="SideLength" class="form-control" />
        <span asp-validation-for="SideLength" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IterationsCount" class="control-label">Iter</label>
        <input asp-for="IterationsCount" class="form-control" />
        <span asp-validation-for="IterationsCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
