@model ComputerGraphicsProject.Models.VicsekFractalModel;

<div class="fractal-container">
    <div class="fractal-pages__img-container">
        <img class="fractal-pages__img" id="fractalImage" src="@Url.Action("GetVicsecFractalImage")"/>
    </div>
    <a class="fractal-pages__dwnld-buttn-container" href="@Url.Action("GetVicsecFractalImage", "Fractals")" download="vicek.png"></a>
</div>

<form asp-action="Vicek">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="fractal-pages__form-data">
        <label asp-for="IterationsCount" class="fractal-pages__data-text">K =&nbsp;</label>
        <input class="vicek-page__form-data__K" asp-for="IterationsCount"/> 
    </div>
    <div class="fractal-pages__form-submit">
        <input class="fractal-pages__generate-button" type="submit" value="" />
    </div>
    <div class="fractal-pages__form-valid">
        <span asp-validation-for="IterationsCount" class="text-danger"></span>
    </div>
    
</form>
<div class="bg-photo"></div>