@model ComputerGraphicsProject.Models.HslModel;

<div class="fractal-container">
    <div class="fractal-pages__img-container">
        <img class="fractal-pages__img" id="fractalImage" src="@Url.Action("GetHslImage")" />
    </div>
    <a class="fractal-pages__dwnld-buttn-container" href="@Url.Action("GetHslImage", "ColorSchemes")" download="hsl.jpeg"></a>
</div>


<form asp-action="Hsl" enctype="multipart/form-data">
    <div class="fractal-pages__form-data">
        <label asp-for="H" class="fractal-pages__data-text">H = </label>
        <input asp-for="H" class="newton-page__form-data__real-img" style="max-width: 70px; margin-left: 5px; margin-right: 10px;" />
        <label asp-for="S" class="fractal-pages__data-text">S = </label>
        <input asp-for="S" class="newton-page__form-data__real-img" style="max-width: 70px; margin-left: 5px;  margin-right: 10px;" />
        <label asp-for="L" class="fractal-pages__data-text">L = </label>
        <input asp-for="L" class="newton-page__form-data__real-img" style="max-width: 70px; margin-left: 5px;  margin-right: 10px;" />
    </div>
    <div class="fractal-pages__form-submit">
        <input class="fractal-pages__generate-button" type="submit" value="" />
    </div>
    <div class="fractal-pages__form-valid">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>
<div class="bg-photo"></div>