<div class="fractals-page__container-header">
    <h1 class="fractals-page__main-text1">Color Models</h1>
</div>
<div class="container">
    <div class="fractals-page__cart-container">
        <a asp-area="" asp-controller="ColorSchemes" asp-action="Cmyk" class="fractals-page__cart">
            <img src="../img/CMYKPicture.png" alt="Fractals pic.">
            <div class="fractals-page__cart-text">
                <p>CMYK</p>
            </div>
        </a>
        <a asp-area="" asp-controller="ColorSchemes" asp-action="Hsl" class="fractals-page__cart">
            <img src="../img/HSLPicture.png" alt="Fractals pic.">
            <div class="fractals-page__cart-text">
                <p>HSL</p>
            </div>
        </a>
    </div>
</div>
<div class="bg-photo"></div>