@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page__container-header">
    <h1 class="home-page__main-text1">Computer graphics</h1>
    <p class="home-page__main-text2">by Taras Taranko and Maksym Zelisko</p>
</div>
<div class="container">
    <div class="home-page__cart-container">
        <a asp-area="" asp-controller="Fractals" asp-action="Index" class="home-page__cart">
        <img src="../img/FractalsPicture.png" alt="Fractals pic.">
        <div class="home-page__cart-text">
            <p>Fractals</p>
        </div>
        </a>
        <a asp-area="" asp-controller="Fractals" asp-action="Newton" class="home-page__cart">
            <img src="../img/MovingImagesPicture.png" alt="Fractals pic.">
            <div class="home-page__cart-text">
                <p>Moving images</p>
            </div>
        </a>
        <a asp-area="" asp-controller="ColorSchemes" asp-action="Index" class="home-page__cart">
            <img src="../img/ColorShemesPicture.png" alt="Fractals pic.">
            <div class="home-page__cart-text">
                <p>Color schemes</p>
            </div>
        </a>
    </div>
</div>
<div class="bg-photo"></div>
