@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 6rem; position: relative; border: none">
    <img src="/img/FractalsPicture.png" class="card-img-top" alt="...">
    <div class="card-body" style="width: 8rem; position: absolute; bottom: -10px; left: -10px;">
            <h5 class="card-title" style="margin: 0; padding: 5px; font-size:1rem; color:white ">Fractals</h5>
      </div>
</div>
