.fractal-pages__form-submit {
    display: flex;
    justify-content: center;
}

.fractal-pages__form-valid {
    display: flex;
    justify-content: center;
}
.fractal-pages__img-container {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fractal-pages__img {
    background-color: white;
    border: 2px solid var(--main-text-orange);
}

.fractal-pages__generate-button {
    background: url('../img/GenerateButtnPicture.png') no-repeat;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
    background-size: cover;
}

.fractal-pages__form-data {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.vicek-page__form-data__K {
    max-width: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.newton-page__form-data__real-img {
    max-width: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.fractal-pages__data-text {
    color: var(--main-text-orange);
    font-family: Graphik-Semibold;
    font-size: 1.5rem;
    font-weight: bold;
}

.fractal-pages__dwnld-buttn-container {
    flex: 0;
    position: absolute;
    right: 10%;
    top: 10%;
    background: url('../img/DownloadButtnPic.png') no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
    background-size: cover;
}
.fractal-container {
    display: flex;
    align-items: center;
}
.fractal-pages__dwnld-buttn {
    width: 100%;
    height: 100%;
}